/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .flat {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(50% - 20px);
  vertical-align: top;
  box-sizing: border-box;
}

.flat h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.flat p {
  font-size: 16px;
  margin-bottom: 5px;
}

.flat .description {
  font-style: italic;
  margin-bottom: 10px;
}

.flat .price {
  font-weight: bold;
}

.flat .guests {
  font-style: italic;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
